canvas {
    position: absolute; 
    width: 50%;
    margin-left: 70px;
}

.side-menu {
    position: fixed;
    width: 70px;
    background-color: rgb(36, 35, 35);
}

.side-menu a {
    display: block;
    text-align: center;
    padding: 12px;
    transition: all 0.3s ease;
    color: #808080;
    font-size: 16px;
}

.side-menu p {
    font-family: helvetica;
    color: white;
    margin-top: 0;
    text-align: center;
}

.side-menu a:hover {
    color: white;
}

.top-menu {
    height: 70px;
    background-color: lightskyblue;
}