* {
    padding: 0;
    margin: 0;
}

#header-div {
    text-align: center;
    font-family: sans-serif;
    font-size: 44;
    margin-bottom: 20px;
}

#clock-div {
    margin: auto;
    width: 75%;
    text-align: center;
    padding: 0;
}

#text-div {
    text-align: center;
    font-family: sans-serif;
    font-size: 34px;
}

#title {
    font-family: sans-serif;
    text-align: center;
}

#play-btn {
    margin-top: 20px;
    text-align: center;
}